<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Задачи</h1>
  {{#if user}}
    <a href="/tasks/create" class="btn btn-primary">Создать задачу</a>
  {{/if}}
</div>

{{#if tasks.length}}
  <div class="row">
    {{#each tasks}}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <i class="{{category.icon}} me-2"></i>
              <span class="badge bg-secondary me-2">{{category.name}}</span>
              <span class="badge {{#if (eq status 'open')}}bg-success{{else if (eq status 'in_progress')}}bg-warning{{else}}bg-secondary{{/if}}">
                {{#if (eq status 'open')}}Открыта{{else if (eq status 'in_progress')}}В работе{{else}}Закрыта{{/if}}
              </span>
            </div>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text text-truncate">{{description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <small class="text-muted">
                  Автор:
                  {{#if author.firstName}}
                    <a href="/users/{{author.username}}" target="_blank" class="text-decoration-none">{{author.firstName}} {{author.lastName}}</a>
                  {{else}}
                    <a href="/users/{{author.username}}" target="_blank" class="text-decoration-none">{{author.username}}</a>
                  {{/if}}
                </small>
                {{#if acceptedResponse}}
                  <br>
                  <small class="text-muted">
                    Исполнитель:
                    {{#if acceptedResponse.responder.firstName}}
                      <a href="/users/{{acceptedResponse.responder.username}}" target="_blank" class="text-decoration-none">{{acceptedResponse.responder.firstName}} {{acceptedResponse.responder.lastName}}</a>
                    {{else}}
                      <a href="/users/{{acceptedResponse.responder.username}}" target="_blank" class="text-decoration-none">{{acceptedResponse.responder.username}}</a>
                    {{/if}}
                  </small>
                {{/if}}
              </div>
              <small class="text-muted">{{createdAtFormatted}}</small>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/tasks/{{_id}}" class="btn btn-outline-primary btn-sm">Просмотреть</a>
            {{#if (eq ../user._id author._id)}}
              {{#if (eq status 'open')}}
                <a href="/tasks/{{_id}}/edit" class="btn btn-outline-warning btn-sm">Редактировать</a>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <!-- Пагинация -->
  <nav aria-label="Пагинация задач">
    <ul class="pagination justify-content-center">
      {{#if hasPrev}}
        <li class="page-item">
          <a class="page-link" href="?page={{subtract currentPage 1}}">Предыдущая</a>
        </li>
      {{/if}}

      {{#each pages}}
        <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
          <a class="page-link" href="?page={{this}}">{{this}}</a>
        </li>
      {{/each}}

      {{#if hasNext}}
        <li class="page-item">
          <a class="page-link" href="?page={{add currentPage 1}}">Следующая</a>
        </li>
      {{/if}}
    </ul>
  </nav>
{{else}}
  <div class="text-center mt-5">
    <h3>Задач пока нет</h3>
    {{#if user}}
      <p>Будьте первым, кто создаст задачу!</p>
      <a href="/tasks/create" class="btn btn-primary">Создать задачу</a>
    {{else}}
      <p>Зарегистрируйтесь, чтобы создать задачу!</p>
    {{/if}}
  </div>
{{/if}}